<!-- <app-header></app-header> -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-list">
                    <h1>Thông tin cá nhân</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="login-area">
    <div class="container">
        <div class="rows">
            <div class="col-md-3 hidden-sm hidden-xs"></div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="login-content">
                    <div class="message-title">
                        <h2>Sửa thông tin cá nhân</h2>
                        <p>Hãy điền thông tin cá nhân của bạn</p>
                    </div>
                    <div class="rows">
                        <form (ngSubmit)="editInfo(formInfo);" #formInfo="ngForm" id="ttcn-fomr">
                            <input type="hidden" name="id" [ngModel]="client.id">
                            <div class="form-group">
                                <label>Họ và tên <span class="required">*</span></label> <input
                                    type="text" placeholder="Họ và tên" name="name"
                                    class="form-control" required [ngModel]="client.name" />
                            </div>
                            <div class="form-group">
                                <label>Email <span class="required">*</span></label> <input
                                    type="text" placeholder="Địa chỉ email" name="email"
                                    class="form-control" required email [ngModel]="client.email" />
                                    <!-- value="${khachhang.getEmail() }" -->
                            </div>
                            <div class="form-group">
                                <label>Số điện thoại <span class="required">*</span></label> <input
                                    type="text" placeholder="Số điện thoại" name="numberPhone" (keypress)="keyPress($event)"
                                    class="form-control" required minlength="10" [ngModel]="client.numberPhone" />
                                    <!-- value="${khachhang.getSoDienThoai() }" -->
                            </div>
                            <div class="form-group">
                                <label>Địa chỉ <span class="required">*</span></label>
                                <textarea name="address" placeholder="Địa chỉ"
                                    class="form-control" required [ngModel]="client.address"></textarea>
                                    <!-- value="${khachhang.getDiaChi()}" /> -->                  
                            </div>
                            <input type="submit" value="Lưu thay đổi" class="login-sub">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3 hidden-sm hidden-xs"></div>
        </div>
    </div>
</div>
<!-- <app-footer></app-footer> -->