<!-- <app-header-admin></app-header-admin> -->
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="QLTK.jsp"> <em class="fa fa-home"></em>
                </a></li>
            <li class="active"><a href="QLNVController"> Sửa nhân
                    viên </a></li>
            <li><em class="fa"> Sửa nhân viên </em></li>
        </ol>
    </div>
    <form (ngSubmit)="fixEmployeeSubmit(formFixEmployee);" #formFixEmployee="ngForm" id="fix-nv-form">
        <input type="hidden" name="id" [ngModel]="employee.id">
        <div class="widget">
            <div class="title">
                <h4>Nhập dữ liệu</h4>
            </div>
            <div class="formRow">
                <label> Tên đăng nhập </label>
                <div class="formRight form-group">
                    <div class="col-xs-6">
                        <input class="form-control" name="username" type="text" [ngModel]="employee.username" disabled>
                    </div>
                </div>
            </div>
            <div class="formRow form-group">
                <label> Mật khẩu</label>
                <div class="formRight">
                    <div class="col-xs-6">
                        <input class="form-control" name="password" type="password" [ngModel]="user.password" required
                            minlength="6">
                    </div>
                </div>
            </div>
            <div class="formRow form-group">
                <label>Họ và tên</label>
                <div class="formRight">
                    <div class="col-xs-6">
                        <input class="form-control" name="name" type="text" [ngModel]="employee.name" required>
                    </div>
                </div>
            </div>
            <div class="formRow form-group">
                <label>SĐT</label>
                <div class="formRight">
                    <div class="col-xs-6">
                        <input class="form-control" name="numberPhone" type="text" (keypress)="keyPress($event)"
                            [ngModel]="employee.numberPhone" required minlength="10">
                    </div>
                </div>
            </div>
            <div class="formRow form-group">
                <label>Email</label>
                <div class="formRight">
                    <div class="col-xs-6">
                        <input class="form-control" name="email" type="email" [ngModel]="employee.email" required email>
                    </div>
                </div>
            </div>
            <div class="formRow">
                <label>Nhóm quyền quản lý</label>
                <div class="form-group">
                    <select class="form-control" id="sel1" name="rightId" [ngModel]="employee.right.id">
                        <option *ngFor="let right of arrRights" value="{{ right.id }}">
                            {{ right.description }}</option>
                    </select>
                </div>
                <div class="clear"></div>
            </div>
            <input type="hidden" name="loai" value="sua" />
            <div class="formRow" style="height: 50px">
                <div class="formRight">
                    <button type="submit" class="btn btn-info">HOÀN TẤT</button>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </form>
</div>