<!-- <app-header-admin></app-header-admin> -->
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="QLTK.jsp"> <em class="fa fa-home"></em>
                </a></li>
            <li class="active"><a href="QLNVController"> Danh sách nhân
                    viên </a></li>
            <li><em class="fa"> Thêm nhân viên </em></li>
        </ol>
    </div>
    <div class="widget">
        <form (ngSubmit)="addEmployeeSubmit(formAddEmployee);" #formAddEmployee="ngForm" id="add-nv-form">
            <div class="title">
                <h4>Nhập dữ liệu</h4>
            </div>
            <div class="formRow">
                <label> Tên đăng nhập </label>
                <div class="formRight form-group">
                    <div class="col-xs-6">
                        <input class="form-control" name="username" type="text" ngModel required>
                    </div>
                </div>
            </div>
            <div class="formRow">
                <label> Mật khẩu</label>
                <div class="formRight form-group">
                    <div class="col-xs-6">
                        <input class="form-control" id="password1" name="password1" type="password" ngModel required>
                    </div>
                </div>
            </div>
            <div class="formRow">
                <label>Xác nhận Mật khẩu</label>
                <div class="formRight form-group">
                    <div class="col-xs-6">
                        <input class="form-control" name="password2" type="password" ngModel required>
                    </div>
                </div>
            </div>
            <div class="formRow">
                <label>Họ và tên</label>
                <div class="formRight form-group">
                    <div class="col-xs-6">
                        <input class="form-control" name="name" type="text" ngModel required>
                    </div>
                </div>
            </div>
            <div class="formRow form-group">
                <label>SĐT</label>
                <div class="formRight">
                    <div class="col-xs-6">
                        <input class="form-control" name="numberPhone" type="text" (keypress)="keyPress($event)"
                        ngModel required minlength="10">
                    </div>
                </div>
            </div>
            <div class="formRow form-group">
                <label>Email</label>
                <div class="formRight">
                    <div class="col-xs-6">
                        <input class="form-control" name="email" type="email" ngModel required email>
                    </div>
                </div>
            </div>
            <div class="formRow">
                <label>Nhóm quyền quản lý</label>
                <div class="form-group">
                    <select class="form-control" id="sel1" name="rightId" [ngModel]="arrRights[0].id">
                        <option *ngFor="let right of arrRights" value="{{ right.id }}">{{ right.description }}
                        </option>
                    </select>
                </div>
                <div class="clear"></div>
            </div>
            <div class="formRow" style="height: 50px">
                <div class="formRight">
                    <button type="submit" class="btn btn-info">HOÀN TẤT</button>
                </div>
                <div class="clear"></div>
            </div>
        </form>
    </div>
</div>