<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a routerLink="/admin/home"> <em class="fa fa-home"></em>
                </a></li>
            <li class="active"><a routerLink="/admin/ql-don-hang">Quản lý đơn hàng</a></li>
        </ol>
    </div>
    <div class="btn-group btn-group-justified">
        <a class="btn btn-info" [ngClass]="{'active': stateShow ==='dat'}" (click)="show('dat');">Đơn hàng
            chưa hoàn thành</a> <a class="btn btn-info" [ngClass]="{'active': stateShow ==='duyet'}"
            (click)="show('duyet');">Đơn hàng đã duyệt</a> <a class="btn btn-info"
            [ngClass]="{'active': stateShow ==='giao'}" (click)="show('giao');">Đơn hàng đã
            giao</a>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Mã đơn hàng</th>
                <th>Ngày đặt hàng</th>
                <th>Mã người đặt</th>
                <th>Tổng sản phẩm</th>
                <th>Tổng tiền</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of arrFiltered">
                <td>{{ order._id }}</td>
                <td>{{ order.date | date:"dd/MM/yyyy"}}</td>
                <td>{{ order.username }}</td>
                <td>{{ order.amount }}</td>
                <td>{{ order.price + ' đ'}}</td>
                <td>
                    <button type="button" *ngIf="order.state !== 'giao'" class="btn btn-info" (click)="next(order._id);"><i
                            class="fa fa-sign-in"></i> Duyệt</button> &nbsp;
                    <a routerLink='/admin/chi-tiet-don-hang-ad/{{order._id}}'>
                        <button type="button" class="btn btn-info"><i class="fa fa-info-circle"></i> Xem</button>
                    </a>&nbsp;
                    <button *ngIf="order.state === 'giao'" type="button" class="btn btn-info " data-toggle="modal"
                        [attr.data-target]="'#myModal'+ order._id"><i class="fa fa-times"></i>Xóa</button>
                    <div class="modal fade" id="myModal{{ order._id }}" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header" style="text-align: center;">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Bạn chắc chắn xóa Đơn Hàng</h4>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        {{ order._id }}
                                    </p>
                                </div>
                                <div class="modal-footer" style="text-align: center;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"
                                        (click)="removeOrder(order._id);">Xác
                                        nhận</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>