<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-list">
                    <h1>Chi tiết đơn hàng</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cart-main-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form action="#">
                    <div class="table-content table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">Hình ảnh</th>
                                    <th class="product-name">Sản phẩm</th>
                                    <th class="product-price">Đơn giá</th>
                                    <th class="product-quantity">Số lượng</th>
                                    <th class="product-size">Size</th>
                                    <th class="product-subtotal">Tổng giá</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let detailOrder of arrDetailOrders">
                                    <td class="product-thumbnail"><a>
                                            <img src="{{ detailOrder.product.image }}" alt="" />
                                        </a></td>
                                    <td class="product-name"><a>
                                            {{ detailOrder.product.name }}
                                        </a></td>
                                    <td class="product-price"><span class="amount">
                                            {{ detailOrder.price + ' đ'}}</span></td>
                                    <td class="product-quantity"><span>
                                            {{ detailOrder.amount }}</span></td>
                                    <td class="product-size"><span>
                                            {{ detailOrder.size }}</span></td>
                                    <td class="product-subtotal"><span class="amount">
                                            {{ detailOrder.amount * detailOrder.price + ' đ'}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-sm-3 col-xs-12">
                            <div class="buttons-cart">
                                <a routerLink="/lich-su">Trở lại</a> <a routerLink="/san-pham">Tiếp tục mua sắm</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-5 col-xs-12">
                            <div class="cart_totals">
                                <h2>Tổng giá đơn hàng</h2>
                                <table>
                                    <tbody>
                                        <tr class="order-total">
                                            <th>Tổng tiền</th>
                                            <td><strong><span class="amount">{{ getTotalPrice() + ' đ'}}</span></strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>